{{ oracle_database_syspassword }}
{{ oracle_database_oimpassword }}
{{ oracle_database_mdspassword }}
{{ oracle_database_opsspassword }}
{{ oracle_database_soainfrapassword }}
{{ oracle_database_orasdpmpassword }}
{{ oracle_database_iaupassword }}
{{ oracle_database_iauappendpassword }}
{{ oracle_database_iauviewerpassword }}
{{ oracle_database_oampassword }}
{{ oracle_database_biplatformpassword }}
